.footer {
  background-color: #222;
  color: white;
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;       /* good for mobile */
  max-width: 1100px;
  margin: auto;
}

.footer-section {
  width: 30%;
  min-width: 220px;
  margin-bottom: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ffcc00;
}


.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    color:white;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.6;
}